{{!-- homepage.handlebars --}}
<h1 class="title is-1 has-text-centered mt-5">Exercise Homepage</h1>

<div class="search-section">
  <form class="mt-4">
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <label for="difficulty" class="label">Difficulty</label>
          <div class="control">
            <div class="select">
              <select id="difficulty" name="difficulty">
                <option value="beginner">Beginner</option>
                <option value="intermediate">Intermediate</option>
                <option value="expert">Expert</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <label for="muscle" class="label">Muscle</label>
          <div class="control">
            <div class="select">
              <select id="muscle" name="muscle">
                <option value="abdominals">Abdominals</option>
                <option value="abductors">Abductors</option>
                <option value="adductors">Adductors</option>
                <option value="biceps">Biceps</option>
                <option value="calves">Calves</option>
                <option value="chest">Chest</option>
                <option value="forearms">Forearms</option>
                <option value="glutes">Glutes</option>
                <option value="lats">Lats</option>
                <option value="lower_back">Lower Back</option>
                <option value="middle_back">Middle Back</option>
                <option value="neck">Neck</option>
                <option value="quadriceps">Quadriceps</option>
                <option value="traps">Traps</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <label for="type" class="label">Type</label>
          <div class="control">
            <div class="select">
              <select id="type" name="type">
                <option value="cardio">Cardio</option>
                <option value="olympic_weightlifting">Olympic Weightlifting</option>
                <option value="plyometrics">Plyometrics</option>
                <option value="powerlifting">Powerlifting</option>
                <option value="strength">Strength</option>
                <option value="stretching">Stretching</option>
                <option value="strongman">Strongman</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <button type="submit" class="button is-primary is-fullwidth mt-4">Search</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

</div>

<div id="exercise-list" class="rows is-multiline mt-6">
  <div class="row">
    {{#each exercises as |exercise|}}
      <div class="row is-one-third">
        <div class="card mt-6">
          <div class="card-content">
            <p class="title is-4">{{name}}</p>
            <p class="subtitle is-6 has-text-weight-bold">Exercise Type:</p>
            <p class="subtitle">{{exercise.type}}</p>
            <p class="subtitle is-6 has-text-weight-bold">Muscle Group:</p>
            <p class="subtitle">{{exercise.muscle}}</p>
            <p class="subtitle is-6 has-text-weight-bold">Difficulty:</p>
            <p class="subtitle">{{exercise.difficulty}}</p>
            <p class="subtitle is-6 has-text-weight-bold">Instructions:</p>
            <p>{{exercise.instructions}}</p>
            <button class="button is-primary is-fullwidth mt-4" data-exercise-id="{{exercise.id}}">Add</button>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<script src="/js/getFilteredExercises.js"></script>
<script src="/js/addExercise.js"></script>
