<h1 class="title has-text-centered mt-5">My Dashboard</h1>
<div id="username-welcome" class="has-text-centered">
  Welcome {{user.username}}!
</div>
<div id="user-info-pannel" class="box mt-5" style="width: 25%;">
  My Health Details:
  <p>
    age:
    <input id="user-age" class="input" value="{{user.age}}">
  </p>
  <p>
    height:
    <input id="user-height" class="input" value="{{user.height}}">
  </p>
  <p>
    weight:
    <input id="user-weight" class="input" value="{{user.weight}}">
  </p>
  <p>
    BMI:
    <input id="user-BMI" class="input" value="{{user.BMI}}">
  </p>
  <button data-user-id="{{user.id}}" id="save-user-health-details" class="button is-primary">Save</button>
  <div id="result-container"></div>
</div>
<div id="profile-stats-pannel" class="box mt-5">
  My Stats:
  <p>Number of currently saved exercises:
    {{#if user.numSavedExercises}}
    {{user.numSavedExercises}}
    {{else}}
    Start today by going to the homepage and saving a challenge!
    {{/if}}
  </p>
  <p>Number of completed challenges:
    {{#if user.numCompletedChallenges}}
    {{user.numCompletedChallenges}}
    {{else}}
    Complete a challenge today!
    {{/if}}
  </p>
</div>
<div id="current-challenge-pannel" class="box mt-5">
  Current Challenge:
  {{#if challenge.id}}
  {{#each challenge.exercises as |exercise|}}
  <div class="exercise-card">
    <p>✘<span>{{exercise.exercisechallenge.numExercises}}</span> {{exercise.name}}</p>
    <p>{{exercise.name}}</p>
    <p>{{exercise.type}}</p>
    <p>{{exercise.muscle}}</p>
    <p>{{exercise.equipment}}</p>
    <p>{{exercise.difficulty}}</p>
    <p>{{exercise.instructions}}</p>
  </div>
  {{/each}}
  <button data-challenge-id="{{challenge.id}}" id="btn-giveup" class="button is-danger">Give Up 😩</button>
  <button data-challenge-id="{{challenge.id}}" id="btn-giveup" class="button is-success">Completed 💪</button>
  {{else}}
  Generate a challenge to get started!
  {{/if}}
</div>
{{#if challenge.id}}
{{else}}
<button id = "generate-challenge-btn" class="button is-primary">Generate Challenge! ⛰️</button>
{{/if}}
<div id="saved-exercises" class="section box mt-5">
  <h2>Saved Exercises</h2>
  {{#if user.exercises}}
  {{#each user.exercises as |exercise|}}
  <div class="saved-exercise-card">
    <p>{{exercise.name}}</p>
    <p>{{exercise.type}}</p>
    <p>{{exercise.muscle}}</p>
    <p>{{exercise.equipment}}</p>
    <p>{{exercise.difficulty}}</p>
    <p>{{exercise.instructions}}</p>
    <button data-exercise-id="{{exercise.id}}" class="remove-exerciseBtn button is-danger">X</button>
  </div>
  {{/each}}
  {{else}}
  Save an exercise today!
  {{/if}}
</div>
<script src="/js/saveUserData.js"></script>
<script src="/js/removeSavedExercise.js"></script>
{{#if challenge.id}}
<script src="/js/gcChallenge.js"></script>
{{else}}
<script src="/js/generateChallenge.js"></script>
{{/if}}
