<h1 class="text-center mt-5">My Dashboard</h1>
<div id="username-welcome">
Welcome {{user.username}}!
</div>
<div id="user-info-pannel">
    My Health Details:
    <p>
        age:
        <input id="user-age" value="{{user.age}}"></input>
    </p>
    <p>
        height:
        <input id="user-height" value="{{user.height}}"></input>

    </p>
    <p>
        weight:
        <input id="user-weight" value="{{user.weight}}"></input>

    </p>
    <p>
        BMI: 
         <input id="user-BMI" value="{{user.BMI}}"></input>

    </p>
    <button data-user-id="{{user.id}}" id="save-user-health-details">Save</button>
</div>
<div id="profile-stats-pannel">
    My Stats:
    <p>Number of currently saved exercises:
        {{#if user.numSavedExercises}}
        {{user.numSavedExercises}}
        {{else}}
        Start today by going to the homepage and saving a challenge!
        {{/if}}
    </p>
    <p>Number of completed challenges: 
        {{#if user.numCompletedChallenges}}
        {{user.numCompletedChallenges}}
        {{else}}
        Complete a challenge today!
        {{/if}}
    </p>
</div>
<div id="current-challenge-pannel">
    Current Challenge:
    {{#if challenge.id}}
    {{#each challenge.exercises as |exercise|}}
    <p>x<span> {{exercise.exercisechallenge.numExercises}}</span> {{exercise.name}}</p>
        <p>{{exercise.name}}</p>
        <p>{{exercise.type}}</p>
        <p>{{exercise.muscle}}</p>
        <p>{{exercise.equipment}}</p>
        <p>{{exercise.difficulty}}</p>
        <p>{{exercise.instructions}}</p>
    {{/each}}
    <button data-challenge-id="challenge.id" id="btn-giveup">Give Up 😩</button>
    <button data-challenge-id="challenge.id" id="btn-giveup">Completed 💪</button>
    {{else}}
    Generate a challenge to get started!
    {{/if}}
</div>
<button>Generate Challenge! ⛰️</button>
<div id="saved-exercises section">
    <h2>Saved Exercises</h2>
    {{#if user.exercises}}
    {{#each user.exercises as |exercise|}}
    <div class="saved-exercise-card">
        <p>{{exercise.name}}</p>
        <p>{{exercise.type}}</p>
        <p>{{exercise.muscle}}</p>
        <p>{{exercise.equipment}}</p>
        <p>{{exercise.difficulty}}</p>
        <p>{{exercise.instructions}}</p>
        <button data-exercise-id="{{exercise.id}}" class="remove-exerciseBtn">X</button>
    </div>
    {{/each}}
    {{else}}
    Save an exercise today!
    {{/if}}
</div>